/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: white; /* Белый цвет для главного заголовка */
}

h2 {
    color: #d32f2f;
}

header {
    background-color: #1e88e5;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
}

/* Стили для навигации */
nav a {
    color: white; /* Белый цвет для ссылок */
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Стили для футера */
footer {
    text-align: center;
    background-color: #1e88e5;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* Новый стиль для центрирования контента */
.center-content {
    text-align: center;
    margin-top: 50px;
}

.new-year-card {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Списки */
ul {
    list-style-type: none;
}

ul li {
    margin: 5px 0;
}
